<?php

return array(
    'service_manager' => array(
        'aliases' => array(
            'BrzCepModule\Adapter\CepDefaultAdapter' => 'BrzCepModule\Service\ViaCepAdapter'
        ),
    ),
);